<!DOCTYPE html>
<html>
<head>
	<title> Yelpcamp</title>
	
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css " >
<link rel="stylesheet" href="/landingpage.css" >
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
<body>	
	<!-- Nav bar declaration Starting -->
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="#">Yelp<i class="fa fa-binoculars" aria-hidden="true"></i>Camp </a>
	
	<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
	  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		<li class="nav-item active">
		  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link" href="/campgrounds">Campgrounds</a>
		</li>
		 <li class="nav-item active">
		  <a class="nav-link" href="/contact">Contact</a>
		</li>
	  <!--   <li class="nav-item">
		  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
		</li> -->
	  </ul>
	 <ul class="nav">
			<li class="nav-item">
		   <a class="nav-link" href="/register">Sign up</a>
		  </li>
			  <li class="nav-item">
			<a class="nav-link" href="/login">Login</a>
		  </li>
	  </ul> 
	 </div>
  </nav>
  <!-- Nav bar ending -->