
<%- include ('./partials/header1'); %>

<h1>This is the Sign Up Form </h1>

<form action="/register" method="POST">
<input type="text" placeholder="Username" name="username">
<input type="password" placeholder="Password" name="password">
<button>Submit</button>
</form>




<%- include ('./partials/footer'); %>