<%- include ('./partials/header1'); %>


<h1>Login</h1>
<form action="/login" method="POST">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <button>Login</button>
    </form>




<%- include ('./partials/footer'); %>