<!DOCTYPE html>
<html>
<head>
	<title> Yelpcamp</title>
	
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css " >
<link rel="stylesheet" href="/campgrounds.css" >
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
	<!-- Nav bar declaration starting -->
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Yelp<i class="fa fa-binoculars" aria-hidden="true"></i>Camp</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/campgrounds">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/campgrounds">Campgrounds</a>
        </li>
         <li class="nav-item active">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      <!--   <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
     <ul class="nav">
       <% if(!currentUser){ %>
            <li class="nav-item">
           <a class="nav-link" href="/register">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
       <% } else{ %>
        <li class="nav-item">
          <a  class="nav-link" href="#">Signed in as <%=currentUser.username %></a>
         <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      <% } %>
      </ul> 
     </div>
  </nav>
<!-- Nav bar declaration ending -->

<div class="container">
  <% if(error && error.length> 0) { %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
     </div>
    <% } %>
    <% if(success && success.length>0) { %>
      <div class="alert alert-success" role="alert">
        <%=success %>
      </div>
    <% } %>
</div>

