<%- include ('./partials/header1'); %>
<style>
#content{
	text-align: center;
	padding-top: 25%;
    color:white;
    margin-top: auto;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);	


}
body{
	background-image: url(https://images.unsplash.com/photo-1595209880317-435aa5d910eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
	background-size: cover;
	background-position: center;
	font-family: 'Raleway', sans-serif;
}
h1{
    font-weight: 700;
    font-size: 3em;
}

</style>


<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div  id=content>
				<h1>This Website is developed by Shrirag10</h1>
                <h2> for the course of Web development Bootcamp 2020</h2>
                <h2>For further details contact</h2>
                <h4><i class="fa fa-envelope" aria-hidden="true"></i> shrirag10@gmail.com</h4>
                <h4><i class="fa fa-github" aria-hidden="true"></i> github.com/shrirag10</h4>
                
                </h4>
				<hr>
			 
			</div>
			
		</div>
	 </div>
	  
</div>

<%- include ('./partials/footer'); %>
