<%- include ('./partials/header'); %>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div   class="landing-header" id=content>
				<h1>Yelp<i class="fa fa-binoculars" aria-hidden="true"></i>Camp</h1>
				<h3> The best place for your camps</h3>
				<hr>
			 <a class="btn btn-light btn-lg" href="/campgrounds"><i class="fa fa-tree" aria-hidden="true"></i>Get Started!</a>
			</div>
			
		</div>
	 </div>
	<ul class="slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	  
</div>

<%- include ('./partials/footer'); %>